.column_style1{
				margin-left: 35.5%;
				margin-right: auto;
				margin-top: 70px;
				
			}
#footer{
	color: white;
	text-align: center;
	padding-top: 15px;
}
.s1{
	margin: 5% 0% 0% 8%;
	padding: 0% 0% 0% 0%;
}
.s2{
	
	margin: 0% 0% 0% 0%;
	padding: 0% 0% 0% 0%;
}